@charset "utf-8";
/* リセット CSS Document */
@import url("html5doctor_reset.css");

#mainbox{
  margin:0 auto;
  width: 320px;
  position: relative;
}
.charbase{
  font-family: "メイリオ", Meiryo, HiraginoSans-W, sans-serif;
  font-size: 8px;
  color: #4B4B4B;
  letter-spacing: 0;
}
a{
  text-decoration:none;
}
.box{
  width: auto;
  height: auto;
  margin: 0 auto 50px;
}

#backgroundimag-top{
  width: 320px;
  height: auto;
  position: relative;
}
#logo{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
nav{
  position: absolute;
  top: 210px;
  left: 141px;
}
nav li{
  color: #F9E6D6;
}
nav li a{
  color: #F9E6D6;
}


#door{
  position: absolute;
  left: 19px;
}
#honbun{
  position: relative;
  padding-top: 2px;
  top: 0;
  left: 86px;
  z-index: 1;
}
#honbun p{
  line-height: 12px;
  margin-bottom: 8px;
}

#honbun-box{
  height: 195px;
}
.imagsize{
  width: 231px;
  height: auto;
}
.margin-img{
  margin-bottom: 50px;
}

#imgmenu{
  width: 231px;
  margin: 0 auto 0;
}

footer{
  width: 231px;
  margin: 0 auto 0;
}
