@charset "utf-8";
/* リセット CSS Document */
@import url("html5doctor_reset.css");

#mainbox,#menubox,#otherbox{
  margin:0 auto;
  width: 30vw;
  position: relative;
}
#menubox{
  width: 40vw;
}
#box{
  width: 100vw;
  margin: 0 auto 0;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.charbase,p{
  font-family: "メイリオ", Meiryo, HiraginoSans-W, sans-serif;
  font-size: 0.7vw;
  color: #4B4B4B;
  letter-spacing: 0;
  white-space: nowrap;
}
a{
  text-decoration:none;
}
ul{
  list-style: none;
}
.box{
  width: auto;
  height: auto;
  margin: 0 auto 0;
  padding-top: 60px;
}
.midashi{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-30px) scale(1.2,1.2);
}


.iconbox{
  margin: 30px auto 0;
  padding-bottom: 30px;
  text-align: center;
}
.snslink svg{
  margin: 0 3vw;
  height: 1.8vw;
}



.honbun{
  width: 16vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.honbun p{
  line-height: 1vw;
  margin-bottom: 0.4vw;
}




/*-----------top-------------*/
#backgroundimag-top{
  width: 30vw;
  height: auto;
  position: relative;
}
#logo{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: 14vw;
  height: auto;
}
#information{
  position: absolute;
  top: 20vw;
  left: 15.5vw;
  display: -webkit-flex;
　display: flex;
}
#information ul{
  -webkit-flex-direction: row;
  flex-direction: row;
}
#information li{
  color: #F9E6D6;
}
#information li a{
  color: #F9E6D6;
}
#nav-menu{
  position: absolute;
  top: 20px;
  left: 283px;
  z-index: 2;
  display: none;
}
header{
  height: 22vw;
}




/*-----------aboutus-------------*/
#aboutus{
  background-color: #F9E6D6;
}
#aboutus .honbun{
  margin-top: 20px;
}


/*-----------open-------------*/
#open p{
  margin-bottom: 8px;
  text-align: center;
}
#open{
  margin-bottom: 2vw;
}


/*-----------menu-------------*/
#menu{
  margin: 0 auto 0;
}
#menu p{
  width: auto;
  text-align: center;
  margin: 1.5vw auto 2vw;
}
#menu a svg{
  transform: translate(0,-10px);
}
#menu img{
  display: block;
}
#img1,#img3{
  width: 17vw;
  margin: 0 auto 0 0;
}
#img2{
  width: 23vw;
  margin: 0 0 0 auto;
}


/*-----------sharehouse-------------*/
#sharehouse{
  background-color: #B7DEE5;
}
#sharehouse .honbun{
  margin-top: 20px;
}

/*-----------other-------------*/


/*-----------aboutus-------------*/


/*-----------access-------------*/
#access{
  background-color: #D8D8D8;
  height: 17.5vw;
  overflow: hidden;
}
#map-svg{
  width: 22vw;
  height: auto;
}
#map{
  margin-top: 3vw;
  display: -webkit-flex;
  display: flex;
}
#map div{
  height: 14vw;
  overflow: hidden;
  margin-top: 0.5vw;
}
#map div a svg{
  width: 5vw;
}


/*-----------footer-------------*/
#footerbox{
  bottom: 0;
  width: 100%;
}
#collection{
  height:50px;
  padding-top: 80px;
  padding-left: 20px;
  background-color: #979797;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
footer{
position: relative;
}
footer article{
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}









@media screen and (max-width:480px){
/*画面幅が480pxまでの時*/

#box{
  display: block;
}
#mainbox,#menubox,#otherbox{
  width: 100vw;
}
p{
  font-size: 3vw;
}
.charbase{
  font-size: 2.5vw;
}
.snslink svg{
  margin: 0 2vw;
  height: 6vw;
}
.snsicon{
  width: 40px;
}
.honbun{
  width: 68vw;
}
.honbun p{
  line-height: 4.5vw;
  margin-bottom: 2vw;
}
#backgroundimag-top{
  width: 100vw;
}
header{
  height: 74.8vw;
}
#logo{
  width: 45vw;
}
#information{
  top: 65vw;
  left: 48vw;
}
#nav-menu{
  top: 20px;
  left: 90vw;
  display: block;
}
#nav-menu svg{
  width: 6vw;
}
#img1,#img3{
  width: 45vw;
}
#img2{
  width: 55vw;
}
#access{
  height: 49vw;
}
#map-svg{
  width: 65vw;
}
#map div{
  height: 41vw;
  margin-top: 5vw;
}
#map div a svg{
  width: 20vw;
  margin-left: 5vw;
  margin-top: 10vw;
}


}
